{% extends 'layouts/base.twig' %}
{% set is_trade = 'Trade Customer' in user.roles %}

{% block pageBody %}
<div class="main-frame">
  <div class="site-wrapper shop-main">

    <header class="shop-archive__header">
      {% include "components/archive-controls.twig" with {
        shop: true,
        search_type: 'product',
        active_filter: title,
        hide_instock: true,
        filters: [
          {
            label: 'Category',
            options: categories
          }
        ]
      } %}
      <div class="shop-section__header">
        <div class="ecomm--header">
          <h1 class="sectionheader sectionheader--shop">New In</h1>
          <hr />
        </div>
      </div>
    </header>

    {% do action('woocommerce_before_main_content') %}
    {% do action('woocommerce_before_shop_loop') %}

    {% if post and post.carousel_1|length %}

        {% for products in post.carousel_1 %}
          <div class="static-carousel--quarter">
            <div class=" static-carousel__slides">
              {% for product in products %}
              <article class="carousel__slide carousel__slide--product">
                {% if product.thumbnail %}
                  <div class="slide__image">
                    {% if product.meta('made_to_order') == false %}
                      <img src="{{theme.link}}/static/img/made-to-order-badge.svg" alt="Made to order" class="slide__stockBadge" />
                    {% else %}
                      <img src="{{theme.link}}/static/img/in-stock-badge.svg" alt="In-stock" class="slide__stockBadge" />
                    {% endif %}
                    {% include "components/overlay-link.twig" with {
                      href: product.link,
                      imgSrc: product.post_image.src('feature_square'),
                      imgAlt: product.post_image.alt,
                      buttonText: 'View'
                    } %}
                  </div>
                {% else %}
                <div class="slide__image slide__image--placeholder">
                  {% if product.meta('made_to_order') == false %}
                    <img src="{{theme.link}}/static/img/made-to-order-badge.svg" alt="Made to order" class="slide__stockBadge" />
                  {% else %}
                    <img src="{{theme.link}}/static/img/in-stock-badge.svg" alt="In-stock" class="slide__stockBadge" />
                  {% endif %}
                  {% include "components/overlay-link.twig" with {
                      href: product.link,
                      imgSrc: theme.link ~ "/static/img/placeholder.svg",
                      imgAlt: "Placeholder",
                      buttonText: 'View'
                    } %}
                </div>
                {% endif %}
                <div class="slide__content">
                  <div class="slide__row">
                    <h6 class="slide__designer">{{ product.designer }}</h6>
                    {% if is_trade and product.meta('trade_price') and product.meta('price_upon_request') == false %}
                      <p class="slide__price slide__price--trade"><strike>${{product.meta('trade_price')}}</strike></p>
                    {% endif %}
                  </div>
                  <div class="slide__row slide__row--title">
                    <h3 class="slide__title"><a href="{{ product.link }}" class="slide__content-link">{{ product.title }}</a></h3>
                    {% if product.price and product.meta('price_upon_request') == false %}
                      <p class="slide__price">${{ product.price }}</p>
                    {% endif %}
                  </div>
                </div>
              </article>
              {% endfor %}
          </div>
        </div>
      {% endfor %}

      {% if products.pagination %}
        {% include "components/pagination.twig" with {pagination: products.pagination} %}
      {% endif %}

    {% else %}
      <p>No products.</p>
    {% endif %}

    {% do action('woocommerce_after_shop_loop') %}
    {% do action('woocommerce_after_main_content') %}
  </div>
</div>

{% endblock  %}
