{% extends 'layouts/base.twig' %}
{% set is_trade = 'Trade Customer' in user.roles %}

{% set hasImage = post.thumbnail or post.product_gallery  %}
{% set stock = post.stock %}

{% block pageBody %}

{{ fn('timber_set_product', post) }}

<div class="main-frame">
  {% do action('woocommerce_before_single_product') %}

  <article itemscope itemtype="http://schema.org/Product" class="single single-product-details {{ post.class }} site-wrapper">

    <div class="single__main">
      {% if hasImage %}<div class="single__grid">{% endif %}

      {% if hasImage %}
      <div class="single__col single__figure">
        <div class="carousel__wrapper js-carousel">
          <div class="carousel__viewport">
            <div class="carousel__track" data-track>
              {% for img in post.product_gallery %}
                <article class="carousel__slide carousel__slideProductGallery" data-slide>
                  <img src="{{ img.full }}" loading="lazy">
                </article>
              {% endfor %}
            </div>
          </div>
          <button class="carousel__control carousel__control--prev" data-control="prev">
            <span>Previous</span>
            {% include "includes/icons/chevron-left.svg" %}
          </button>
          <button class="carousel__control carousel__control--next" data-control="next">
            <span>Next</span>
            {% include "includes/icons/chevron-right.svg" %}
          </button>
        </div>
        <ul class="product__stickyGallery">
          {% for img in post.product_gallery %}
            <li class="product__stickyGalleryItem">
              <a data-fslightbox="gallery-lightbox" href="{{ img.full }}">
                <img src="{{ img.full }}" loading="lazy">
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      <div class="single__col content {% if not hasImage %}single__colNoImage{% endif %}">
        <div>
          <ul class="breadcrumbs">
            <li class="breadcrumbs__item breadcrumbs__item--noUnderline"><a href="/shop">Store</a></li>
            <li class="breadcrumbs__item breadcrumbs__item--noUnderline breadcrumbs__item--active"><a href="{{ post.link }}">{{ post.title }}</a></li>
          </ul>

          <div class="product__meta">
            <h1 class="product__title">{{ post.title }}</h1>
            {% if post.designer %}
            <p class="product__designerName"><a href="{{ post.designer.link }}">{{ post.designer }}</a></p>
            {% endif %}
            <div class="product__price">
              {% if post.meta('price_upon_request') %}
              <p>Price Upon Request</p>
              {% else %}
              {% if post.meta('trade_price') and is_trade %}<p class="product__priceTrade"><strike>${{ post.price }}</strike><p>{% else %}<p>${{ post.price }}</p>{% endif %}
              {% if post.meta('trade_price') and is_trade %}<p>${{ post.meta('trade_price') }}<p>{% endif %}
              {% endif %}
            </div>
          </div>

          {% do action('woocommerce_before_single_product_summary') %}

          {% if post.content %}
          <div class="content">
            <div class="product__contentShort" data-content="{{ post.content }}" data-content-short="{{ post.content|slice(0, 191) }}…">
              <div>{{ post.content|slice(0, 191) }}…</div>
              <div><button type="button" class="btn--link" id="product__showMore" data-open="false">Read more +</button></div>
            </div>
            {% if post.meta('dimensions') %}
            <div class="product__dimensions">
              <p class="product__dimensionsHeading">Dimensions <button class="product__dimensionsToggle">+</button></p>
              <p class="product__dimensionsContent">{{ post.meta('dimensions') }}</p>
            </div>
            {% endif %}
            <div class="product__attachment">
              {{ fn('do_shortcode', '[display_attachments hide_title="true" hide_size_label="true" hide_description="true"]') }}
            </div>
          </div>
          {% endif %}

          <div class="product__summary summary entry-summary {% if post.meta('price_upon_request') %}product__summaryPriceHidden{% endif %}">
            <div class="product__actions">
              <div>
                {% do action('woocommerce_before_variations_form') %}
                {% do action('woocommerce_single_product_summary') %}
                {% do action('woocommerce_after_variations_form') %}
              </div>
              <a href="#" class="btn btn--light-purple btn--outline">Request a quote</a>
            </div>
            <p><a class="product__returnPolicy" href="/return-policy">Return Policy</a></p>
          </div>

          {% do action('woocommerce_after_single_product_summary') %}

        </div>
      </div>

      {% if hasImage %}</div>{% endif %}

    </div>

    <meta itemprop="url" content="{{ post.link }}" />

  </article>

  {% do action('woocommerce_after_single_product') %}

</div>

{% endblock  %}
