{% extends 'components/micro-modal.twig' %}
{% set quote_modal_shortcode = options.quote_modal_shortcode %}

{% set id = 'quote-modal' %}
{% set title = 'Request a Quote' %}
{% set description = 'Please select available customizations on the product page as they will be noted on your request. Any additional customizations or questions can be included in the notes below.' %}

{% block modalContent %}
<div class="quote__modal">
  {{ fn('do_shortcode', quote_modal_shortcode) }}
  <input type="hidden" class="quote__modalFields" name="hidden_email" value="{{ user.user_email }}">
  <input type="hidden" class="quote__modalFields" name="hidden_FirstName" value="{{ user.first_name }}">
  <input type="hidden" class="quote__modalFields" name="hidden_LastName" value="{{ user.last_name }}">
  <input type="hidden" class="quote__modalFields" name="hidden_ProductName" value="{{ post.title }}">
</div>
{% endblock %}
